
.colorancla{
    color: #444DC9;
    text-decoration: none;
    transition-property: color;
    transition-duration: 1s;
}
.navintancla{
    color: white;
}
h2{
    color: #444DC9;
    font-size: 35px;
    font-family: 'Indie Flower', cursive;
    text-decoration-line: underline;
}
a:hover{
    color: red;
}
span{
    color: #444DC9;
    font-size: 30px;
    font-family: 'Indie Flower', cursive;
    text-align: center;
}
.audio{
    padding-top: 10px;
}
.introindex{
    font-weight: bold;
    color: #BE4646;
    font-size: 20px;
    margin: 10px;
    padding: 0 60px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}
.subtituloindex{
    text-align: center;
}



form{
    padding: 0;
    display: flex;
    justify-content: center;
}
.suscripcion{
    color: #444DC9;
    margin: 30px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    text-decoration-line: underline;
    padding: 0 3%;
    text-decoration-line: none;
}

.red{
    text-align: center;
    flex: content;
}
.redes{
    font-size: 18px;
    font-style: italic;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
    padding: 0;
}
.redes1{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
.foot{
    border-style:dotted;
    border-color: red;
    border-width: 2px 5px;
}
.footer{
    color: red;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;
}

.navegadores{
    justify-content: space-between;
    font-size: 25px;
    width: 100%;
    padding-left: 10px;
    vertical-align: top;
    padding-top: 10px;
}

.parrafo{
    font-family: 'Montserrat', sans-serif;
    color: #BE4646;
    font-size: 18px;
    text-align: left;
}

.stileancla{
    text-align: left;
    padding-left: 60px;
    font-size: 16px;
    font-family: "cursive";
    color: white;
    font-style: italic;
    display: inline-block;
}
.nosemancha p{
    font-style: italic;
    text-align: center;
    justify-content: center;
}
.aaaj{
    font-family: 'Montserrat', sans-serif;
    color: #BE4646;
    font-size: 18px;
    text-align: left;
}
.sevilla{
    width: 73%;
    font-size: 0%;
    display: inline-block;
}
.navegadores ul{
    font-size: 25px;
    width: auto;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.navinterno ul{
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    padding: 0%;
}
.navinterno li ul li{
    text-align: left;
    width: 100%;
}
.edit{
    text-align: right;
}
.navinterno li{
    display: inline-block;
    position: relative;
    vertical-align: top;
    padding-right: 5px;
}
.navinterno > li:hover ul{
    display: block;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: lightblue;
    font-size: 22px;
    padding-left: 15%;
}
h4{
    font-family: 'Montserrat', sans-serif;
    color: lightblue;
    font-size: 20px;
    padding-left: 15%;
}

.img{
    max-width: 900px;
}

/* Fin de Carrera Deportiva */
/* Inicio DT */
.imgdt{
    width: 200px;
    justify-content: center;
}
.intro{
    display: flex;
    justify-content: space-around;
}
.museo1 li{
    display: inline-block;
    font-size: 25px;
    text-decoration: none;
}
.iframe{
    justify-content: center;
}
@media (min-width: 900px){
    #check{
        display: none;!important
    }
    .checkbtn{
        display: none;
    }
    .navegadores{
        font-size: 25px;
        vertical-align: top;
        width: auto;
    }
    .navegacion{
        display: flex;
        justify-content: left;
        font-family: "cursive";
        font-size: 24px;
        align-items: left;
        width: 40%;
        background-color:transparent;
        top: 0;
        position: relative;
        left: 0;
    }
    .tituloindex{
        margin-top: 7%;
    }
    
}
